@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'glightbox/dist/css/glightbox.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'all-round-gothic', Inter, sans-serif;

    --color-tertiary-50: #f4f7fb;
    --color-tertiary-100: #e8eef6;
    --color-tertiary-200: #ccdceb;
    --color-tertiary-300: #a0bfd9;
    --color-tertiary-400: #6c9dc4;
    --color-tertiary-500: #4a81ad;
    --color-tertiary-600: #386791;
    --color-tertiary-700: #2e5276;
    --color-tertiary-800: #294763;
    --color-tertiary-900: #273d53;
    --color-tertiary-950: #0d141c;



    --color-zinc-50: var(--color-tertiary-50);
    --color-zinc-100: var(--color-tertiary-100);
    --color-zinc-200: var(--color-tertiary-200);
    --color-zinc-300: var(--color-tertiary-300);
    --color-zinc-400: var(--color-tertiary-400);
    --color-zinc-500: var(--color-tertiary-500);
    --color-zinc-600: var(--color-tertiary-600);
    --color-zinc-700: var(--color-tertiary-700);
    --color-zinc-800: var(--color-tertiary-800);
    --color-zinc-900: var(--color-tertiary-900);
    --color-zinc-950: var(--color-tertiary-950);

    --color-primary-50: #e8fff8;
    --color-primary-100: #c6ffec;
    --color-primary-200: #93ffe0;
    --color-primary-300: #4effd5;
    --color-primary-400: #02f6bd;
    --color-primary-500: #00e6ae;
    --color-primary-600: #00bc91;
    --color-primary-700: #009778;
    --color-primary-800: #007760;
    --color-primary-900: #006151;
    --color-primary-950: #00372f;

    --color-secondary-50: #fff5ec;
    --color-secondary-100: #ffe9d3;
    --color-secondary-200: #ffcfa6;
    --color-secondary-300: #ffad6e;
    --color-secondary-400: #ff7e33;
    --color-secondary-500: #ff5b0c;
    --color-secondary-600: #f23e02;
    --color-secondary-700: #ca2c04;
    --color-secondary-800: #a0230c;
    --color-secondary-900: #81200d;
    --color-secondary-950: #460c04;





}

@theme {
    --color-accent: var(--color-primary-500);
    --color-accent-content: var(--color-primary-500);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-primary-500);
        --color-accent-content: var(--color-primary-400);
        --color-accent-foreground: var(--color-white);
    }
}


/* Custom style for scrolled header */
#main-header.header-scrolled {
    background-image: linear-gradient(to bottom, rgba(13, 20, 28, 0.9) 0%, rgba(13, 20, 28, 0) 100%);
}
